[submodule "transformers"]
	path = transformers
	url = https://github.com/huggingface/transformers.git
[submodule "adapter-transformers"]
	path = adapter-transformers
	url = https://github.com/Adapter-Hub/adapter-transformers.git
